.shopping-cart {
    max-width: 1000px;
    margin: 50px auto 0;
}

.shopping-cart__total {
    text-align: right;
    font-size: 1.3rem;
    margin-right: 10px;
}

.item-title {
    font-family: "Playfair Display", sans-serif;
}

.buttons-group > *:not(:last-child) {
    margin-right: 5px;
}