.header {
    background-color: steelblue;
}

.header-title {
    font-size: 46px;
    text-decoration: none;
    color: #1a0933;
}

.header-icon-cart {
    color: #35735e;
}

.header-cart >*:not(:last-child) {
    margin-right: 10px;
}